<table class="table table-responsive">
   <tr dir ="rtl">
       <td class="h4">שם מוצר</td>
       <td class="h4">כמות</td>
       <td class="h4">מחיר</th>
   </td>
   <tr ng-repeat="orderLine in orderModel.order.orderLines track by orderLine._id" ng-controller="OrderLineController">
       <div >
           <td>{{product.name}}</td>
           <td>{{orderLine.quantity}}</td>
           <td>{{orderLine.totalPrice}}</td>
           <td><i class="fa fa-times" ng-click="removeOrderLine()"></i></td>
       </div>
   </tr>
   <tr>
       <td></td>
       <td></td>
       <td>{{orderModel.order.total}}</td>
   </tr>
</table>