<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
        <div class="row">
            <div class="col-xs-4">
                <div class="h3 bold product-tags-title">בחר לפי סוג מוצר:</div>
            </div>
        </div>
        <div class="row">
            <div ng-repeat="groupTag in groupTags" class="catalog-tag">
                <div class="col-xs-4">
                    <div product-tag tag="groupTag"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="h3 bold product-tags-title">בחר לפי אירוע:</div>
            </div>
        </div>
        <div class="row">
            <div ng-repeat="occasionTag in occasionTags" class="catalog-tag">
                <div class="col-xs-4">
                    <div product-tag tag="occasionTag"></div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-xs-1"></div>
</div>


