<div class="main-page-carousel">
    <carousel interval="5000">
        <slide>
            <img class="img img-responsive" src="https://hermeny-images.s3.amazonaws.com/images/slide1.jpg">
        </slide>
        <slide>
            <img class="img img-responsive" src="https://hermeny-images.s3.amazonaws.com/images/slide2.jpg">
        </slide>
        <slide>
            <img class="img img-responsive" src="https://hermeny-images.s3.amazonaws.com/images/slide3.jpg">
        </slide>
        <slide>
            <img class="img img-responsive" src="https://hermeny-images.s3.amazonaws.com/images/slide4.jpg">
        </slide>
        <slide>
            <img class="img img-responsive" src="https://hermeny-images.s3.amazonaws.com/images/slide5.jpg">
        </slide>
    </carousel>
    <div class="go-to-catalog" ui-sref="catalog">
        <button class="btn btn-primary">מעבר לקטלוג</button>
    </div>
</div>


