<div class="row" style="padding-right:15px;padding-left:15px;">
    <div class="col-md-10 col-md-offset-1">
        <img class="img img-responsive" src="https://hermeny-images.s3.amazonaws.com/images/mizrachiVaad.jpg">
        <h1>הטבה מיוחדת לחברי ארגון עובדי מזרחי טפחות</h1>
        <p>10% הנחה על כל המוצרים באתר בהזנת קוד קופון 1010 בסיום ההזמנה.</p>
        <button class="btn btn-lg btn-primary" ui-sref="home">לחץ כאן למעבר לאתר</button>
        <p>משלוח חינם עד הבית בכל אזור המרכז.</p>
        <p>המחירים הזולים ביותר בארץ!</p>    
        <img class="img img-responsive" src="https://hermeny-images.s3.amazonaws.com/images/Snapshots2.png">
    </div>
</div>