<div class="row">
    <div class="col-md-8">
        <hy-order order-model="orderModel" on-order-line-removed="payment.cancelPaymentSection()"></hy-order>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="coupon" class="control-label">קוד קופון:</label>
            <input ng-model="payment.coupon" type="text" class="form-control" id="coupon" placeholder="הכנס קוד קופון">
        </div>
        <button class="btn btn-primary" ng-disabled="!payment.coupon" ng-click="payment.addCoupon()">הכנס קופון</button>        
    </div>
    <div class="col-md-2">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="h2 bold underline">סיכום הזמנה:</div>
        <table class="table table-responsive">
            <tr>
                <td>סה"כ הזמנה:</td>
                <td>{{orderModel.order.grossTotal}}</td>
            </tr>
            <tr ng-class="{'line-through' : orderModel.order.shipmentFee===0 }">
                <td>דמי משלוח:</td>
                <td>{{orderModel.order.shipmentFee}}</td>
            </tr>
            <tr ng-if="orderModel.order.discount">
                <td>הנחה:</td>
                <td>{{orderModel.order.discount}}</td>
            </tr>
            <tr class="bold">
                <td>סה"כ לתשלום:</td>
                <td>{{orderModel.order.total + orderModel.order.shipmentFee}}</td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button ng-disabled="payment.showPaymentOptions===true" ng-click="payment.pay()" class="btn btn-primary">לתשלום</button>
        <div class="paypal-cards-logo-holder">
            <img src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg" alt="PayPal - הדרך הקלה והבטוחה לשלם באינטרנט!">
        </div>
        <div class="paypal-logo-holder">
            <img src="https://www.paypalobjects.com/webstatic/en_US/logo/pp_cc_mark_111x69.png" alt="PayPal - הדרך הקלה והבטוחה לשלם באינטרנט!">
        </div>
    </div>
</div>
<div class="row top-20" ng-if="payment.showPaymentOptions===true">
    <div class="col-md-12">
        <div class="row">
            <form class="form-inline">
                <div class="form-group">
                    <select class="form-control input-lg" ng-model="payment.paymentMethod">
                        <option value="" disabled selected>בחר אמצעי תשלום</option>
                        <option value="1">כרטיס אשראי</option>
                        <option value="2">PayPal</option>
                        <option value="3">איסוף עצמי מגבעת שמואל-תשלום במקום</option>
                    </select>
                </div>
                <div class="form-group" ng-if="payment.paymentMethod ==='3'">
                    <label class="control-label">שם:</label>
                    <input class="form-control" ng-model="payment.selfPickupDetails.customerName">
                </div>
                <div class="form-group" ng-if="payment.paymentMethod ==='3'">
                    <label class="control-label">מס טלפון:</label>
                    <input class="form-control" type="tel" ng-model="payment.selfPickupDetails.customerPhone">
                </div>
            </form>
        </div>
        <div class="row top-20">
            <div class="col-md-12">
                <p class="top-20" ng-if="payment.paymentMethod ==='1'">התשלום באמצעות כרטיס אשראי מתבצע ע"י אתר PayPal.
                    <br>לאחר המעבר לאתר בחר באפשרות "שלם באמצעות כרטיס אשראי".</p>
                <p ng-if="payment.paymentMethod ==='2' || payment.paymentMethod==='1'">אנא השאירו מספר טלפון תחת הנחיות מיוחדות למוכר</p>
                <p  ng-if="payment.paymentMethod ==='3'">כתובת לאיסוף עצמי: הנשיא 55 גבעת שמואל<br>נא לתאם מראש במספר 052-6680081</p>
                <div class="top-20" ng-if="payment.paymentMethod ==='2' || payment.paymentMethod==='1'" ng-bind-html="payment.paypalButton"></div>
                <button ng-click="payment.closeOrderAsSelfPickup()" ng-if="payment.paymentMethod ==='3'" class="btn btn-primary">לסיום ואישור הזמנה</button>
            </div>
        </div>
    </div>
</div>