<div class="row">
    <div class="col-xs-8">
       <hy-order order="orderModel.order"></hy-order>
    </div>
</div>
<div class="row">
    <div class="col-xs-3">
        <div class="form-group">
            <label for="coupon" class="control-label">קוד קופון:</label>
            <input ng-model="orderModel.order.coupon" type="text" class="form-control" id="coupon" placeholder="הכנס קוד קופון">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-1">
        <button ng-click="goToPayment()" class="btn btn-primary row">לתשלום</button>
    </div>
</div>
</div>




