div(ng-controller="imageMaintenance as im")
    form(name='imageMaintenanceForm')
      .button(ngf-select='', ng-model='im.files', ngf-multiple='true',ngf-pattern="'image/*'", accept='image/*', ngf-max-size='20MB') Select
      .drop-box(ngf-drop='', ng-model='im.files') Drop
      button(type='submit', ng-click='im.uploadFiles()') submit
    div(ng-repeat="file in im.files")
      img(ngf-thumbnail="file || '/thumb.jpg'")
