body {
  background-color: beige;
  color: #333;
  font-family: "Roboto", Arial, sans-serif;
  font-size: large;
  font-weight: 300;
  line-height: 1.4;
  height: 100%;
  min-width: 1024px;
  position: relative;
  text-rendering: optimizeLegibility;
}
.thumbnail {
  text-align: center;
}
.product-sold-modal {
  position: fixed;
  top: 25%;
}
.catalog-tag.ng-enter {
  -webkit-animation: fadeIn 0.75s ease;
  -moz-animation: fadeIn 0.75s ease;
  -ms-animation: fadeIn 0.75s ease;
  animation: fadeIn 0.75s ease;
}
.catalog-product.ng-enter {
  -webkit-animation: fadeIn 0.75s ;
  -moz-animation: fadeIn 0.75s ;
  -ms-animation: fadeIn 0.75s ;
  animation: fadeIn 0.75s ;
}
.order-line.ng-enter {
  -webkit-animation: bounceIn 0.75s ;
  -moz-animation: bounceIn 0.75s ;
  -ms-animation: bounceIn 0.75s ;
  animation: bounceIn 0.75s ;
}
.order-line.ng-leave {
  -webkit-animation: bounceOut 0.75s ;
  -moz-animation: bounceOut 0.75s ;
  -ms-animation: bounceOut 0.75s ;
  animation: bounceOut 0.75s ;
}
.customer-details.ng-hide-remove {
  -webkit-animation: fadeIn 0.75s ;
  -moz-animation: fadeIn 0.75s ;
  -ms-animation: fadeIn 0.75s ;
  animation: fadeIn 0.75s ;
}
.peamit-alert.ng-enter {
  -webkit-animation: fadeIn 0.75s ;
  -moz-animation: fadeIn 0.75s ;
  -ms-animation: fadeIn 0.75s ;
  animation: fadeIn 0.75s ;
}
.peamit-alert.ng-leave {
  -webkit-animation: fadeOut 0.75s ;
  -moz-animation: fadeOut 0.75s ;
  -ms-animation: fadeOut 0.75s ;
  animation: fadeOut 0.75s ;
}
.product-tag {
  height: 250px;
  cursor: pointer;
  border: solid lightblue;
}
.product-tag img {
  height: 70%;
}
.product-tag .caption {
  vertical-align: top;
  height: 30%;
}
.group-tag .product-tag {
  height: 200px;
}
.group-tag .product-tag img {
  height: 65%;
}
.group-tag .product-tag .caption {
  vertical-align: top;
  height: 20%;
}
.group-tag .tag-name {
  margin: 0 !important;
}
.navbar .navbar-nav .fa {
  font-size: large;
  margin-left: 3px;
}
.bold {
  font-weight: bold;
}
.product-for-selling {
  font-weight: bold;
  height: 370px;
}
.product-for-selling img {
  height: 150px;
}
.product-for-selling .prodcut-price {
  height: 40px;
}
.product-for-selling .product-name {
  height: 80px;
}
.product-for-selling .add-to-order {
  margin-top: 10px;
}
.navbar-header {
  float: none;
  position: absolute;
  right: calc(50% - 182.5px);
}
.navbar-brand {
  font-size: 50px;
  font-style: italic;
}
.navbar-brand .sub-header {
  margin-right: 0px;
  font-size: 32px;
  font-style: normal;
  color: #ffffff;
}
.product-tags-title {
  background-color: #bbffbb;
  display: inline-block;
}
.sub-menu a {
  cursor: pointer;
}
.navbar {
  background-color: black;
}
.navbar a {
  color: #ffffff;
}
.facebook-link {
  position: absolute;
  margin-top: 70px;
  margin-right: 95%;
}
.facebook-link img {
  height: 34px;
}
.reg-table-row {
  max-height: 20px;
}
.reg-table-row td {
  height: 100%;
}
.reg-table-row td img {
  height: 100%;
}
.logo-image {
  height: 53px;
}
.paypal-cards-logo-holder {
  display: inline-block;
}
.paypal-cards-logo-holder img {
  height: 50px;
}
.paypal-logo-holder {
  display: inline-block;
}
.paypal-logo-holder img {
  height: 50px;
}
.underline {
  text-decoration: underline;
}
.line-through {
  text-decoration: line-through;
}
.no-padding {
  padding: 0 !important;
}
.shipment-pic {
  cursor: pointer;
  position: absolute;
  left: 0.5vw;
  width: 11vw;
  top: 125px;
  border: solid red;
  height: 60vh;
}
.shipment-pic img {
  height: 100%;
  width: 100%;
}
.delivery-img {
  width: 20%;
  margin: auto;
}
